.wrapper {
  margin: 20rpx;
  display: flex;
  align-items: center;
}
.padding-bot {
  padding-bottom: 100rpx;
}
.cart {
  margin-left: 20rpx;
  border-radius: 10rpx;
  display: flex;
  background: white;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30rpx 20rpx;
  flex: 1;
  image {
    width: 135rpx;
    height: 135rpx;
    margin-right: 30rpx;
    border-radius: 10rpx;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    &_header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      text {
        line-height: 28rpx * 1.3;
        font-size: 28rpx;
        margin-right: 40rpx;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    &_spec {
      font-size: 28rpx;
      color: #999;
    }
    &_number {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      text {
        font-size: 34rpx;
        color: #ff4b4b;
        &::first-letter {
          font-size: 28rpx;
        }
      }
    }
  }
}
.bottom {
  position: fixed;
  bottom: 0;
  background: white;
  width: calc(100% - 100rpx);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  height: 100rpx;
  display: flex;
  align-items: center;
  font-size: 28rpx;
  padding: 0 50rpx;
  color: #999;
  .money {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0.5rem;
    .red {
      color: #ff4b4b;
      margin-right: 30rpx;
      font-size: 36rpx;
      &::first-letter {
        font-size: 28rpx;
      }
    }
  }
  .button {
    font-size: 30rpx;
    color: white;
    padding: 15rpx 55rpx;
    background: #0ccd79;
    border-radius: 55rpx;
  }
}
.no-login {
  .no-list {
    margin-bottom: 40rpx;
  }
}
