/* pages/goodDetail/goodDetail.wxss */
.container {
  background-color: #f5f5f5;
  .rich-img {
    width: 100%;
    // height: auto;
  }
  .red {
    font-size: 34.72rpx;
    color: #fe2448;
  }
  .grey {
    margin-left: 10rpx;
    font-size: 26rpx;
    color: #a6a6a6;
    text-decoration: line-through;
  }
  .btn-style {
    font-size: 28rpx;
    width: 160rpx;
    padding: 20rpx 25rpx;
    box-shadow: none;
  }
  .style-left {
    border-radius: 35rpx 0rpx 0rpx 35rpx;
    background-color: #666666;
    background-image: linear-gradient(-85deg, #8d7f78 0%, #8d7f78 33%, #8d7f78 100%), linear-gradient(#ffd400, #ffd400);
    box-shadow: 0rpx 10rpx 43rpx 0rpx rgba(69, 51, 42, 0.54);
  }
  .style-right {
    border-radius: 0rpx 35rpx 35rpx 0rpx;
    background-color: #3dec92;
    background-image: linear-gradient(-85deg, #45332a 0%, #4f3d35 33%, #58473f 100%), linear-gradient(#ffd400, #ffd400);
    box-shadow: 0rpx 10rpx 43rpx 0rpx rgba(69, 51, 42, 0.54);
  }
  .swiper-wrap {
    // margin-bottom: 10px;
    swiper {
      height: 690rpx;
    }
    .swiper-item {
      image {
        // border-radius: 18.12rpx;
        overflow: hidden;
        width: 750rpx;
        height: 690rpx;
      }
    }
  }
  .seckill-wrap {
    // margin-bottom: 10px;
    .seckill {
      justify-content: space-between;
      padding: 16rpx 30rpx;
      background-color: #07c160;
      color: #fff;
      .left-icon {
        margin-right: 20rpx;
        image {
          width: 47rpx;
          height: 44rpx;
          margin-right: 10rpx;
        }
        view {
          // border: 1px solid red;
          width: 60rpx;
          font-size: 30rpx;
          line-height: 36rpx;
        }
      }
      .time-wrap {
        // border: 1px solid red;
        .time-item {
          margin: 0 10rpx;
          .time-text {
            font-size: 30rpx;
            line-height: 30rpx;
          }
          .item-wrap {
            font-size: 30rpx;
            line-height: 30rpx;
            color: #fff;
          }
        }
      }
      .active-btn {
        font-size: 30rpx;
        color: #fff;
        padding: 6rpx 15rpx;
        border-radius: 25.5rpx;
        background-color: #fff;
        color: #07c160;
      }
    }
  }
  .sale-wrap {
    background-color: #fff;
    margin-bottom: 10rpx;
    padding: 10rpx 30rpx 20rpx;
    .slogan {
      margin-bottom: 20rpx;
      .name {
        font-size: 34rpx;
        margin-bottom: 15rpx;
      }
      .tag {
        font-size: 28rpx;
        color: #666666;
      }
    }
    .price-wrap {
      justify-content: space-between;
      margin-bottom: 10rpx;
      .price {
        align-items: flex-end;
      }
    }
    .promise {
      border-top: 1px solid #f2f2f2;
      padding: 35rpx 0rpx 20rpx;
      justify-content: space-between;
      .left {
        font-size: 28rpx;
        color: #999999;
        .fold {
          margin-right: 20rpx;
          color: #4d4d4d;
        }
      }
    }
  }
  .tab-wrap {
    padding-bottom: 100rpx;
    .good-detail {
      background: #fff;
      margin: 10rpx 0 0;
      padding: 10rpx;
    }
    .buy-record {
      padding-bottom: 15rpx;
      .record-item {
        background-color: #fff;
        margin: 10rpx 0;
        padding: 10rpx 15rpx;
        .user-img {
          width: 100rpx;
          height: 100rpx;
          display: block;
          border-radius: 50%;
          margin-right: 15rpx;
        }
        .right-info {
          > view {
            padding: 5rpx 0;
          }
        }
      }
    }
  }
  .operation-wrap {
    background-color: #fff;
    box-sizing: border-box;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15rpx 20rpx;
    .operate-item {
      font-size: 26rpx;
      line-height: 32rpx;

      image {
        width: 27rpx;
        height: 29rpx;
        margin-bottom: 5rpx;
      }
      .serve-btn {
        background-color: transparent;
        color: #333333;
        font-size: 26rpx;
        line-height: 32rpx;
      }
    }
  }
  .detail-wrap {
    padding: 20rpx 30rpx 30rpx;
    position: relative;
    .good-wrap {
      margin-bottom: 20rpx;
      .spec-img {
        width: 120rpx;
        height: 120rpx;
        border-radius: 10rpx;
        margin-right: 10rpx;
      }
      .right-text {
        .name {
          margin-bottom: 20rpx;
        }
      }
    }
    .spec-wrap {
      .item-wrap {
        .spec-name {
          font-size: 30rpx;
          margin: 20rpx 0;
        }
        .spec-list {
          flex-wrap: wrap;
          padding-top: 20rpx;
          .spec-item {
            color: #fff;
            padding: 5rpx 15rpx;
            background-color: #b8b8b8;
            border-radius: 20rpx;
            margin: 0 10rpx 20rpx;
          }
          .active-item {
            background-color: #45332a;
          }
        }
      }
    }
    .buy-num {
      justify-content: space-between;
      font-size: 30rpx;
      margin: 20rpx 0 30rpx;
    }
    .btn-wrap {
      .btn-style {
        width: 200rpx;
      }
    }
  }
}
