/* pages/orderDetails/orderDetails.wxss */
.container {
  background: #eeeeee;
  .address {
    margin: 20rpx;
    padding: 20rpx 15rpx;
    background: #fff;
    border-radius: 15rpx;
    .add {
      width: 40rpx;
      margin-right: 40rpx;
    }
    .name {
      font-size: 28rpx;
      font-weight: bold;
      color: #333;
      .phone {
         font-size: 28rpx;
        color: #666;
        margin-left: 30rpx;
        font-weight: normal;
      }
    }
    .phone {
      margin: 10rpx 0;
    }
    .address-text {
       font-size: 28rpx;
      color: #666;
      // margin-top: 10rpx;
    }
    .right-icon {
      margin-left: 15rpx;
    }
  }

  .order-item {
    background-color: #fff;
    margin: 20rpx;
    padding: 20rpx;
    border-radius: 15rpx;
    .title {
      margin-bottom: 20rpx;
      justify-content: space-between;
      font-size: 26rpx;
      color: #999999;
      .red {
        font-size: 28rpx;
        color: #fe2448;
        opacity: 0.97;
      }
    }
    > .info {
      padding-bottom: 20rpx;
      .goods-list {
        .goods-item {
          align-items: stretch;
          margin-bottom: 20rpx;
          .good-img {
            width: 150rpx;
            height: 150rpx;
            background-color: #ffffff;
            margin-right: 10rpx;
          }
          .right-info {
            flex-grow: 1;
            justify-content: space-between;
            align-items: flex-start;
            // border: 1px solid red;
            font-size: 26rpx;
            .name {
              width: 500rpx;
            }
            .spec {
              color: #888888;
            }
            .price {
              width: 100%;
              justify-content: space-between;
              .number {
                color: #999999;
              }
            }
          }
        }
      }
      .more-btn {
        justify-content: center;
        border-top: 1px solid #eeeeee;
        image {
          width: 14rpx;
          padding: 0 10rpx;
        }
      }
      .total {
        justify-content: space-between;
        .left {
           font-size: 28rpx;
          color: #999999;
        }
        .right {
          font-size: 28rpx;
          color: #333;
          font-weight: bolder;
          .word {
            font-weight: normal;
            color: #666;
          }
        }
      }

      .refund {
        font-size: 26rpx;
        color: #f88094;
        text-align: right;
        margin-top: 3rpx;
      }
    }
    .operation {
      justify-content: flex-end;
      .btn-wrap {
        .base-style {
          margin-left: 10rpx;
           font-size: 28rpx;
          line-height: 24rpx;
          color: #fff;
          padding: 10rpx 20rpx;
          border-radius: 26.99rpx;
          box-shadow: none;
        }
        .red {
          border: solid 1rpx #fe2448;
          color: #fe2448;
        }
        .success {
          border: solid 1rpx #67c23a;
          color: #67c23a;
        }
        .primary {
          border: solid 1rpx #409eff;
          color: #409eff;
        }
      }
    }
  }

  > .info {
    margin: 20rpx;
    background: #fff;
    border-radius: 15rpx;
    padding: 20rpx 10rpx;
    .title {
      font-size: 28rpx;
      font-weight: bold;
    }
    .field {
      margin-top: 10rpx;
      justify-content: space-between;
      .label {
        color: #999;
      }
      .val {
        color: #333;
      }
    }
  }

  .deliverDialog {
    width: 80vw;
    padding: 50rpx 30rpx;
    font-size: 26rpx;
    .title {
      font-size: 30rpx;
      text-align: center;
      margin-bottom: 20rpx;
    }
    .input-wrap {
      margin-bottom: 50rpx;
      .van-cell {
        border-bottom: 1px solid #f2f2f2;
      }
      .van-field__page {
        margin-top: 10rpx;
        border-bottom: 1px solid #f2f2f2;
      }
    }
    .btn-wrap {
      justify-content: space-around;
      .btn-style {
        padding: 15rpx 50rpx;
      }
      .cancel {
        background-image: linear-gradient(-85deg, #9e948e 0%, #a8a09c 33%, #b1adab 100%),
          linear-gradient(#ffd400, #ffd400);
      }
    }
  }
}
