.container {
  .flex {
    display: flex;
    align-items: center;
  }
  .van-dropdown-menu {
    height: auto !important;
  }
  .title {
    font-size: 32rpx;
    color: #8d8d8d;
    margin-bottom: 20rpx;
    padding: 20rpx 30rpx;
    .sub-title {
      font-size: 25rpx;
    }
  }
  .input-wrap {
    margin: 0 30rpx;
    padding-bottom: 20rpx;
    border-bottom: 1rpx solid #d1d1d1;
    input {
      font-size: 40rpx;
    }
  }
  .form-wrap {
    .form-item {
      font-size: 30rpx;
      padding: 30rpx;
      border-bottom: 1rpx solid #f5f5f5;
      justify-content: space-between;
      .value-wrap {
        .van-dropdown-menu {
          box-shadow: none !important;
        }
      }
      input {
        text-align: right;
      }
    }
  }
  .btn-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    .btn-style {
      width: 100%;
      border-radius: 0;
      padding: 30rpx 0;
    }
  }
}
