/* pages/announcement/announcement.wxss */
.container {
  background-color: #f5f5f5;
  .articleList {
    padding-bottom: 20rpx;
    .articleList-item {
      background-color: #ffffff;
      margin-top: 30rpx;
      border-radius: 18rpx;
      box-shadow: 0 0 14rpx 10rpx #eeeeee;
      padding: 20rpx;

      .img {
        width: 200rpx;
        height: 150rpx;
        //   background-color: #f5f5f5;
        font-size: 30rpx;
        font-weight: bold;
        image {
          width: 200rpx;
          height: 150rpx;
        }
      }

      .info {
        padding: 0 16rpx;
        height: 100%;

        .info-title {
          font-size: 30rpx;
          font-weight: bold;
          margin-bottom: 20rpx;
        }

        .info-desc {
          font-size: 26rpx;
          color: #666666;
          line-height: 40rpx;
          height: 80rpx;
          margin: 10rpx 0;
        }

        .info-date {
          font-size: 26rpx;
          color: #999999;
        }
      }
    }
  }
}
