.container {
  // border: 1px solid red;
  background-color: #f5f5f5;
  .van-tabs__line {
    background: #3d2e26;
  }
  .van-tab--active {
    color: #3d2e26;
  }
  .record-wrap {
    .list-wrap {
      padding-bottom: 20rpx;
      .list-item {
        box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.55);
        font-size: 28rpx;
        background-color: #fff;
        padding: 10rpx 20rpx;
        margin-top: 15rpx;
        border-radius: 10rpx;
        > view {
          padding: 10rpx 0;
        }
        .title {
          justify-content: space-between;
        }
        .remark {
          font-weight: bolder;
          margin-bottom: 10rpx;
        }
        .time {
           font-size: 26rpx;
          text-align: right;
          color: grey;
        }
      }
    }
  }
}
